<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.se.seadwidget"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
         <receiver android:name="com.se.seadwidget.SEAdWidget">
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_configuration"/>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.se.seadwidget.ACTION_MENU"/>
                <action android:name="com.se.seadwidget.ACTION_MENUAL"/>
                <action android:name="com.se.seadwidget.ACTION_START"/>
                <action android:name="com.se.seadwidget.ACTION_ACCOUNT"/>
                <action android:name="com.se.seadwidget.ACTION_POINT"/>
                
            </intent-filter>
        </receiver>
        
        <activity android:name="com.se.seadwidget.Menu">
             <intent-filter>
                <action android:name="com.se.seadwidget.ACTION_MENU"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity android:name="com.se.seadwidget.Menual">
             <intent-filter>
                <action android:name="com.se.seadwidget.ACTION_MENUAL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity android:name="com.se.seadwidget.Account">
             <intent-filter>
                <action android:name="com.se.seadwidget.ACTION_ACCOUNT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity android:name="com.se.seadwidget.Point">
             <intent-filter>
                <action android:name="com.se.seadwidget.ACTION_POINT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>